<div class="container mt-5">
  <button class="btn btn-secondary mb-3" (click)="goBack()">
    <i class="fas fa-arrow-left"></i> 
  </button>

  <h2>Crear Playlist</h2>

  <form (ngSubmit)="onSubmit()" #playlistForm="ngForm">
    <div class="mb-3">
      <label for="playlistName" class="form-label">Nombre de la Playlist</label>
      <input 
        type="text" 
        id="playlistName" 
        class="form-control" 
        [(ngModel)]="playlist.name" 
        name="name" 
        required 
        #name="ngModel"
      />
      <div *ngIf="name.invalid && name.touched" class="text-danger">
        El nombre de la playlist es obligatorio.
      </div>
    </div>
    
    <div class="mb-3">
      <label for="playlistDescription" class="form-label">Descripción</label>
      <textarea 
        id="playlistDescription" 
        class="form-control" 
        [(ngModel)]="playlist.description" 
        name="description" 
        required 
        #description="ngModel"
        rows="3"
      ></textarea>
      <div *ngIf="description.invalid && description.touched" class="text-danger">
        La descripción es obligatoria.
      </div>
    </div>

    <div class="mb-3">
      <div style="max-height: 600px; overflow-y: auto;">
        <table class="table">
          <thead>
            <tr>
              <th>Número</th>
              <th>Título</th>
              <th>Artista</th>
              <th>Álbum</th>
              <th>Género</th>
              <th>Año</th>
              <th>
                <button type="button" class="btn btn-success" (click)="addSong()">
                  <i class="fas fa-plus"></i> 
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of playlist.songs; let i = index">
              <td>{{ i + 1 }}</td> 
              <td><input type="text" class="form-control" [(ngModel)]="song.title" name="title-{{i}}" required /></td>
              <td><input type="text" class="form-control" [(ngModel)]="song.artist" name="artist-{{i}}" /></td>
              <td><input type="text" class="form-control" [(ngModel)]="song.album" name="album-{{i}}" /></td>
              <td><input type="text" class="form-control" [(ngModel)]="song.genre" name="genre-{{i}}" /></td>
              <td><input type="number" class="form-control" [(ngModel)]="song.year" name="year-{{i}}" /></td>
              <td>
                <button *ngIf="playlist.songs.length > 1" class="btn btn-danger btn-sm" (click)="removeSong(i)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="!hasSongWithTitle" class="text-danger mb-3">
      Al menos debe tener cancion
    </div>

    <button 
      type="submit" 
      class="btn btn-success mt-3" 
      [disabled]="playlistForm.invalid || !hasSongWithTitle"
    >
      Guardar Playlist
    </button>
  </form>
</div>
